In [14]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
from us import states

# Census API Key
from config import api_key
c = Census(api_key, year=2015)

In [15]:
#Use variable keys to extract data for api

census_data_2015 = c.acs5.get(("NAME", "B19013_001E","B01001D_001E","B01001B_001E","B01001I_001E", "B01001A_001E", "B01001F_001E", "B05002_001E"), {'for': 'zip code tabulation area:*'})

census_data_2015 = pd.DataFrame(census_data_2015)

census_data_2015_df = census_data_2015.rename(columns={"B19013_001E": "Household Income",
                                                       "B01001D_001E": "Asian Amer.", 
                                                       "B01001B_001E": "Black Amer.",
                                                       "B01001I_001E": "Hispanic Amer.",
                                                       "B01001A_001E": "White Amer.",
                                                       "B01001F_001E": "Other",
                                                       "NAME": "Name", "zip code tabulation area": "Zipcode"})

print(len(census_data_2015_df))
print(census_data_2015_df.head())

33120
          Name  Household Income  Asian Amer.  Black Amer.  Hispanic Amer.  \
0  ZCTA5 12810           57500.0          2.0          0.0            14.0
1  ZCTA5 12811      -666666666.0          0.0          0.0             0.0
2  ZCTA5 12812           49583.0          0.0          0.0             0.0
3  ZCTA5 12814           58176.0         14.0         36.0            32.0
4  ZCTA5 12815           60458.0          0.0         15.0             6.0

   White Amer.  Other  B05002_001E state Zipcode
0        717.0    0.0        724.0    36   12810
1         67.0    0.0         67.0    36   12811
2         58.0    0.0         58.0    36   12812
3       1152.0   80.0       1282.0    36   12814
4       1007.0    0.0       1103.0    36   12815

In [16]:
# View Count of per state 

print(census_data_2015_df['state'].value_counts())

48    1935
42    1798
36    1794
06    1764
17    1383
39    1197
29    1024
26     987
12     983
19     934
51     896
27     885
37     808
18     775
55     774
21     769
13     735
54     706
20     698
40     648
01     642
47     628
53     598
34     595
05     591
31     581
25     537
08     525
22     515
24     468
23     432
45     424
28     423
41     416
04     405
38     382
46     372
35     368
30     361
49     288
09     282
16     278
50     255
33     248
02     238
56     178
32     175
72     131
15      94
44      77
10      67
11      53
Name: state, dtype: int64

In [17]:
print(census_data_2015_df.count())

Name                33120
Household Income    32157
Asian Amer.         33120
Black Amer.         33120
Hispanic Amer.      33120
White Amer.         33120
Other               33120
B05002_001E         33120
state               33120
Zipcode             33120
dtype: int64

In [18]:
# Create A Datatype for State so that loc method can work

census_data_2015_df['state'] = pd.to_numeric(census_data_2015_df['state'])
census_data_2015_df['state'].dtype

dtype('int64')

In [20]:
#New Jersey Only DataFrame for 2018

New_Jersey_Census_2015 = census_data_2015_df.loc[census_data_2015_df["state"] == 34,:]
print(New_Jersey_Census_2015)

              Name  Household Income  Asian Amer.  Black Amer.  \
9602   ZCTA5 07001           68036.0       3925.0       4449.0
9603   ZCTA5 07002           54413.0       5822.0       7095.0
9604   ZCTA5 07003           72791.0       4325.0       8519.0
9605   ZCTA5 07004          106691.0        128.0          0.0
9606   ZCTA5 07005          100582.0       1085.0        516.0
...            ...               ...          ...          ...
32652  ZCTA5 08011               NaN          0.0          0.0
32873  ZCTA5 07977               NaN         12.0         39.0
32926  ZCTA5 08038               NaN          0.0          0.0
33081  ZCTA5 08073               NaN          0.0          0.0
33098  ZCTA5 07846               NaN          0.0          0.0

       Hispanic Amer.  White Amer.   Other  B05002_001E  state Zipcode
9602           2925.0       9123.0   423.0      18295.0     34   07001
9603          15375.0      46266.0  4194.0      65378.0     34   07002
9604          12854.0      29693.0  3624.0      47840.0     34   07003
9605            282.0       7376.0    16.0       7556.0     34   07004
9606           1309.0      13180.0   267.0      15315.0     34   07005
...               ...          ...     ...          ...    ...     ...
32652             0.0         45.0     0.0         70.0     34   08011
32873           199.0        509.0    49.0        609.0     34   07977
32926             0.0         85.0     0.0         85.0     34   08038
33081             0.0        311.0     0.0        331.0     34   08073
33098            45.0         95.0     0.0         95.0     34   07846

[595 rows x 10 columns]

In [21]:
#Dropping Wrong Column - Accidentally added another column so it needs to be removed ...

#Below is the dataframe for New Jersey 2015

Updated_New_Jersey_Census_2015 = New_Jersey_Census_2015.drop(["B05002_001E"], axis=1)

print(Updated_New_Jersey_Census_2015)

              Name  Household Income  Asian Amer.  Black Amer.  \
9602   ZCTA5 07001           68036.0       3925.0       4449.0
9603   ZCTA5 07002           54413.0       5822.0       7095.0
9604   ZCTA5 07003           72791.0       4325.0       8519.0
9605   ZCTA5 07004          106691.0        128.0          0.0
9606   ZCTA5 07005          100582.0       1085.0        516.0
...            ...               ...          ...          ...
32652  ZCTA5 08011               NaN          0.0          0.0
32873  ZCTA5 07977               NaN         12.0         39.0
32926  ZCTA5 08038               NaN          0.0          0.0
33081  ZCTA5 08073               NaN          0.0          0.0
33098  ZCTA5 07846               NaN          0.0          0.0

       Hispanic Amer.  White Amer.   Other  state Zipcode
9602           2925.0       9123.0   423.0     34   07001
9603          15375.0      46266.0  4194.0     34   07002
9604          12854.0      29693.0  3624.0     34   07003
9605            282.0       7376.0    16.0     34   07004
9606           1309.0      13180.0   267.0     34   07005
...               ...          ...     ...    ...     ...
32652             0.0         45.0     0.0     34   08011
32873           199.0        509.0    49.0     34   07977
32926             0.0         85.0     0.0     34   08038
33081             0.0        311.0     0.0     34   08073
33098            45.0         95.0     0.0     34   07846

[595 rows x 9 columns]

In [29]:
Updated_New_Jersey_Census_2015.to_csv("../Project-1/2015CensusData.csv")